<section class="ui center aligned middle aligned segment">
  <section class="dashboard-header">

    <h2 class="title">Playstation Game Tracker Dashboard</h2>

    <div class="controls">

      <form action="/searchCategory" method="GET" class="search-form">
        <input
        type="text"
        name="searchTerm"
        placeholder="Search by title..."
        value="{{search}}"
        >
     
        <label>Sort by:</label>
        <select name="sort" onchange="this.form.submit()">
          <option value="title" {{#if titleSelected}}selected{{/if}}>Title</option>
          <option value="games" {{#if gamesSelected}}selected{{/if}}>Number of Games</option>
        </select>

        <label>Order:</label>
        <select name="order" onchange="this.form.submit()">
          <option value="asc" {{#if ascSelected}}selected{{/if}}>↑</option>
          <option value="desc" {{#if descSelected}}selected{{/if}}>↓</option>
        </select>     
      </form>
    </div>
    
  </section>


<section class="ui segment">
  {{#unless search}}
    {{#unless collections}}
      <h3 class="ui message">
       Start adding your collections!
      </h3>
    {{/unless}}
  {{/unless}}

  {{#if collections}}
    <div class="ui three stackable cards">
      {{#each collections}}
        <div class="ui card">
          <div class="content">
            <div class="header">{{title}}</div>
            <div class="meta">
              {{#if date}}
                Created {{formatDate date}}
              {{/if}}
            </div>
            <div class="description">
              {{#if games}}
                <p><strong>Total games:</strong> {{games.length}}</p>
              {{else}}
                <p>Empty collection!</p>
              {{/if}}
            </div>
          </div>

          <div class="extra content">
            <div class="ui two buttons">
              <a href="/collection/{{id}}" class="ui basic green button">
                <i class="folder open icon"></i> Open
              </a>
              <a href="/dashboard/deletecollection/{{id}}" class="ui basic red button">
                <i class="trash icon"></i> Delete
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>
</section>