<section class="ui left aligned middle aligned segment">

  <section class="dashboard-header">

    <h2 class="title">Trophy Tracker App Dashboard</h2>

    <div class="controls">

      <form action="/searchCategory" method="GET" class="search-form">
        <input
        type="text"
        name="searchTerm"
        placeholder="Search by title..."
        value="{{search}}"
        >
     
        <label>Sort by:</label>
        <select name="sort" onchange="this.form.submit()">
          <option value="title" {{#if titleSelected}}selected{{/if}}>Title</option>
          <option value="rating" {{#if ratingSelected}}selected{{/if}}>Rating</option>
        </select>

        <label>Order:</label>
        <select name="order" onchange="this.form.submit()">
          <option value="asc" {{#if ascSelected}}selected{{/if}}>↑</option>
          <option value="desc" {{#if descSelected}}selected{{/if}}>↓</option>
        </select>     
      </form>
    </div>
    
  </section>

  {{#unless search}}
    {{#unless collections}}
      <h3 class="ui message">
       Start adding your collections!
      </h3>
    {{/unless}}
  {{/unless}}

  {{#each collections}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{uppercase title}}
      </h3>

      <p>
        <i class="gamepad icon"></i>
        {{#if games}}
          Total games:
          {{games.length}}

        {{else}}
          Empty collection!
        {{/if}}

        {{#if date}}
          <br />
          <i class="calendar alternate outline icon"></i>
          Created on
          <i>{{formatDate date}}</i>
        {{/if}}
      </p>

      {{#if rating}}
        <p>
          <span 
            class="ui yellow disabled rating" 
            data-icon="star" 
            data-rating="{{rating}}" 
            data-max-rating="5">
          </span>
          
          <span style="color: grey; font-size: 90%; font-style: italic">
              {{highlightPopular rating}}
          </span>
        </p>
      {{/if}}

      <a href="/collection/{{id}}"><i class="ui open folder black icon"></i></a>

	    <a href="/dashboard/deletecollection/{{id}}">
        <i class="ui trash black icon"></i>
      </a>
    </section>
    
  {{/each}}

</section>