<tr id="game{{@index}}">
  <td>
    {{title}}
  </td>

  <td>
    {{platform}}
  </td>

  <td>
    {{trophies}}
  </td>

  <td class="center aligned">
    <button title="Edit Game" class = "editSubmit" id="showEdit{{@index}}">
      <i class="ui edit icon"></i>
    </button>
  </td>

  <td class="center aligned">
    <a href="/collection/{{collectionId}}/deletegame/{{id}}" 
	   title="Delete Game">
     <i class="ui black trash icon"></i>
    </a>
  </td>
</tr>