{{#if picture}}
  <div class="image">
    <img src="{{picture.url}}" alt="{{title}}">
  </div>
{{/if}}

<div class="content" id="game{{@index}}">
  <div class="header">{{title}}</div>

  <div class="meta">{{platform}}</div>

  <div class="description">
    <p><strong>Trophies:</strong> {{trophies}}</p>
  </div>
</div>

<div class="extra content">
  <div class="ui two buttons">
    <button type="button" title="Edit Game" class="ui basic blue button" id="showEdit{{@index}}">
      <i class="ui edit icon"></i> Edit
    </button>
    <a href="/collection/{{collectionId}}/deletegame/{{id}}" class="ui basic red button" title="Delete Game">
      <i class="ui trash icon"></i> Delete
    </a>
  </div>
</div>