{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

  <h2>Playstation Game Tracker Statistics</h2>

  <h3 class="ui header">Global App Statistics</h3>
    
  <p>The Game Tracker App now contains in total:</p>
  
  {{#with globalStats}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered four statistics">
        <div class="ui statistic">
          <div class="value">
            <i class="database icon"></i>
          </div>
          <div class="label">
            {{displayNumCollections}} collections
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="gamepad icon"></i>
          </div>
          <div class="label">
            {{displayNumGames}} games
          </div>
        </div>

        <div class="ui yellow statistic">
          <div class="value">
            <i class="trophy icon"></i>
          </div>
          <div class="label">
            {{displayNumTrophies}} trophies
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="percentage icon"></i>
          </div>
          <div class="label">
            Average games per <br> collection: {{displayAverage}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</section>

<section class="ui center aligned segment">
    <h2>About the Authors</h2>

  <section class="ui left aligned segment">
    
    {{#each aboutInfo}}
    <section class="about-container">
        <article class="profile-card">
            <img class="location-img" src="{{locationMap}}" alt="Our Location" />

            <div class="profile-info">
                <h3>{{fullname}}</h3>
                <p class="tagline">{{tagline}}</p>

                <p class="bio">{{description}}</p>

                <ul class="contact-list">
                    <li><strong>Email: </strong><a href="mailto:trinitygamers@gmail.com">{{contact.email}}</a></li>
                    <li><strong>Phone: </strong>{{contact.phone}}</li>
                    <li><strong>Location: </strong>{{contact.location}}</li>
                </ul>
            </div>
        </article>
    </section>
    {{/each}}
  </section>
</section>