{{> menu id="collection"}}

<section class="ui center aligned middle aligned segment">
    <h2>There are {{collectionInfo.lenght}} Collections</h2>
</section>

<div class="ui centered cards">
  {{#each gamesInfo}}
  <div class="card">
    <div class="image">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div class="content">
      <a class="header">{{name}}</a>
      <div class="meta"><span class="platform">Platform: {{platform}}</span></div>
      <div class="description">
        {{trophies.bronze}} Bronze, {{trophies.silver}} Silver, {{trophies.gold}} Gold, {{trophies.platinum}} Platinum.
      </div>
    </div>
  </div>
  {{/each}}
</div>