{{!
File: collectionsPS5.hbs
Description: This is the Handlebars template for the PlayStation 5 Games collection page of the PlayStation Trophy Tracker App. It extends the main layout and includes a navigation menu partial. The template displays a list of games in the PlayStation 5 collection, showing each game's image, name, platform, and trophy counts. The data for the games is passed in through the "gamesInfo" context variable.
}}

{{> menu id="collectionsPS5"}}

<section class="ui center aligned middle aligned segment">
    <h2>{{gamesInfo.length}} Games in collection.</h2>
</section>

<div class="ui centered cards">
  {{#each gamesInfo}}
  <div class="card">
    <div class="image">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div class="content">
      <a class="header">{{name}}</a>
      <div class="meta"><span class="platform">Platform: {{platform}}</span></div>
      <div class="description">
        {{trophies.bronze}} Bronze, {{trophies.silver}} Silver, {{trophies.gold}} Gold, {{trophies.platinum}} Platinum.
      </div>
    </div>
  </div>
  {{/each}}
</div>